body {
    font-size: 14px;
    font-family: arial,sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 6px;
}

div {
    display: block;
}

.centro {
    padding: 20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}

form {
    display: block;
    margin-top: 0em;
}

.recuadro {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fdfdfd;
    border: 3px solid rgb(161, 6, 6)
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    position: relative;
}

input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    flex: 100%;
}

.buttons {
    height: 70px;
    padding-top: 18px;
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}